<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="Description" content="Enter your description here"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link rel="stylesheet" href="/resources/css/index.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat&family=The+Nautigal&display=swap" rel="stylesheet">
<title>Tìm kiếm xe</title>
</head>
<body>

    <div class="wrapper">
        <div class="swap-container-result">
            <div class="box-information">
                <div class="back-home">
                    <img src="/img/Group50.png" alt="">
                </div>
                <div class="cluster-address">
                    <div class="d-flex">
                        <img src="/img/Group44.png" alt="">
                        <p class="text-result">145 Lê Văn Hưu, phường ABCD 145 Lê Văn Hưu, phường ABCD 145 Lê Văn Hưu, phường ABCD</p>
                    </div>
                    <div class="date-received w-100">
                        <p class="text-date">Ngày nhận xe</p>
                        <div class="d-flex date-received1">
                            <div class="box-calendar">
                                <img src="/img/calendar.png" alt="">
                                <input type="text" value="16/03/2022" class="text-input">
                            </div>
                            <div class="box-timeline">
                                <img src="/img/fast-time.png" alt="">
                                <input type="text" value="08:00" class="text-input">
                            </div>
                        </div>
                        <p class="text-date">Ngày về</p>
                        <div class="d-flex">
                            <div class="box-calendar">
                                <img src="/img/calendar.png" alt="">
                                <input type="text" value="16/03/2022" class="text-input">
                            </div>
                            <div class="box-timeline">
                                <img src="/img/fast-time.png" alt="">
                                <input type="text" value="08:00" class="text-input">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-information-car">
                <div class="box-car-item">
                    <div class="car-item-top">
                        <div class="image-car">
                            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                                <ol class="carousel-indicators">
                                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                                </ol>
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <img class="d-block" src="/img/NoPath.png" alt="avatar">
                                    </div>
                                    <div class="carousel-item">
                                        <img class="d-block" src="/img/NoPath.png" alt="avatar">
                                    </div>
                                    <div class="carousel-item">
                                        <img class="d-block" src="/img/NoPath.png" alt="avatar">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="box-text-info">
                            <label class="title-car">Mercedes-Benz</label>
                            <p class="title2-car">E-class</p>
                            <div class="d-flex justify-content-between">
                                <p class="type-car">Xe tự động</p>
                                <p class="type2-car">4 chỗ</p>
                            </div>
                            <p class="license-plate">Biển số: <span>30E - 153.49</span></p>
                            <div class="d-flex">
                                <p class="avg">5.0</p> <img src="/img/Group105.png" class="avg-img">  <p class="sumlike">0 <span>Yêu thích</span></p>
                            </div>
                        </div>
                        <div class="ml-auto">
                            <img src="/img/Group523.png" alt="">
                        </div>
                    </div>
                    <div class="car-item-bottom">
                        <div class="d-flex my-auto">
                            <img src="/img/Group44.png" alt="">
                            <p class="address">Huế, TT Huế</p>
                        </div>
                        <div>
                            <p class="price">850K/ngày</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-information-car">
                <div class="box-car-item">
                    <div class="car-item-top">
                        <div class="image-car">
                            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                                <ol class="carousel-indicators">
                                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                                </ol>
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <img class="d-block" src="/img/NoPath.png" alt="avatar">
                                    </div>
                                    <div class="carousel-item">
                                        <img class="d-block" src="/img/NoPath.png" alt="avatar">
                                    </div>
                                    <div class="carousel-item">
                                        <img class="d-block" src="/img/NoPath.png" alt="avatar">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="box-text-info">
                            <label class="title-car">Mercedes-Benz</label>
                            <p class="title2-car">E-class</p>
                            <div class="d-flex justify-content-between">
                                <p class="type-car">Xe tự động</p>
                                <p class="type2-car">4 chỗ</p>
                            </div>
                            <p class="license-plate">Biển số: <span>30E - 153.49</span></p>
                            <div class="d-flex">
                                <p class="avg">5.0</p> <img src="/img/Group105.png" class="avg-img">  <p class="sumlike">0 <span>Yêu thích</span></p>
                            </div>
                        </div>
                        <div class="ml-auto">
                            <img src="/img/Group523.png" alt="">
                        </div>
                    </div>
                    <div class="car-item-bottom">
                        <div class="d-flex my-auto">
                            <img src="/img/Group44.png" alt="">
                            <p class="address">Huế, TT Huế</p>
                        </div>
                        <div>
                            <p class="price">850K/ngày</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-information-car">
                <div class="box-car-item">
                    <div class="car-item-top">
                        <div class="image-car">
                            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                                <ol class="carousel-indicators">
                                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                                </ol>
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <img class="d-block" src="/img/NoPath.png" alt="avatar">
                                    </div>
                                    <div class="carousel-item">
                                        <img class="d-block" src="/img/NoPath.png" alt="avatar">
                                    </div>
                                    <div class="carousel-item">
                                        <img class="d-block" src="/img/NoPath.png" alt="avatar">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="box-text-info">
                            <label class="title-car">Mercedes-Benz</label>
                            <p class="title2-car">E-class</p>
                            <div class="d-flex justify-content-between">
                                <p class="type-car">Xe tự động</p>
                                <p class="type2-car">4 chỗ</p>
                            </div>
                            <p class="license-plate">Biển số: <span>30E - 153.49</span></p>
                            <div class="d-flex">
                                <p class="avg">5.0</p> <img src="/img/Group105.png" class="avg-img">  <p class="sumlike">0 <span>Yêu thích</span></p>
                            </div>
                        </div>
                        <div class="ml-auto">
                            <img src="/img/Group523.png" alt="">
                        </div>
                    </div>
                    <div class="car-item-bottom">
                        <div class="d-flex my-auto">
                            <img src="/img/Group44.png" alt="">
                            <p class="address">Huế, TT Huế</p>
                        </div>
                        <div>
                            <p class="price">850K/ngày</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="menu-options fixed-bottom">
                <div class="menu-option">
                    <div class="btn btn-map d-flex">
                        <div class="background-map">
                            <img src="/img/map.png" alt="">
                        </div>
                        <label class="text">Bản đồ</label>
                    </div>
                    <div class="btn btn-filter d-flex">
                        <div class="background-filter">
                            <img src="/img/filter-icon.png" alt="">
                        </div>
                        <label class="text">Bộ lọc</label>
                    </div>
                </div>
            </div>
        </div>
    </div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
<script>
    $('.box-information-car').click(function() {
        window.location.href='car-detail.html';
    })
    $('.back-home').click(function() {
        window.location.href='index.html';
    })
    $('.btn-filter').click(function() {
        window.location.href='fitter.html';
    })
</script> 
</body>
</html>